.grid
{
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide
{
    max-width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full_width
{
    width: 100%;
}

.col
{
    margin-left: -8px;
    margin-right: -8px;
}

.row 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.c-0
{
    display: none;
}

.c-1
{
    flex: 0 0 8.3333%;
    max-width: 8.33333%;
}

.c-2
{
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

.c-3
{
    flex: 0 0 25%;
    max-width: 25%;

}


.c-4
{
    flex: 0 0 33%;
    max-width: 33.3333%;
    
}


.c-5
{
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
    
}


.c-6
{
    flex: 0 0 50%;
    max-width: 50%;
    
}


.c-7
{
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
    
}


.c-8
{
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
    
}



.c-9
{
    flex: 0 0 75%;
    max-width: 75%;
    
}


.c-10
{
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
    
}


.c-11
{
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
    
}



.c-12
{
    flex: 0 0 100%;
    max-width: 100%;
    
}
@media screen and (max-width: 700px) {
   
.m-0
.m-1
.m-2
.m-3
.m-4
.m-5
.m-6
.m-7
.m-8
.m-9
.m-10
.m-11
.m-12
{
    display: block;
}



    .m-0
{
    display: none;
}

.m-1
{
    flex: 0 0 8.3333%;
    max-width: 8.33333%;
}

.m-2
{
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}

.m-3
{
    flex: 0 0 25%;
    max-width: 25%;

}


.m-4
{
    flex: 0 0 33%;
    max-width: 33.3333%;
    
}


.m-5
{
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
    
}


.m-6
{
    flex: 0 0 50%;
    max-width: 50%;
    
}


.m-7
{
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
    
}


.m-8
{
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
    
}



.m-9
{
    flex: 0 0 75%;
    max-width: 75%;
    
}


.m-10
{
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
    
}


.m-11
{
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
    
}



.m-12
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-right:20%;
    
}

/*  */


}