/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/
.headerDk
{
    background-color: black;
    width: 100%;
    height: 140px;
    text-align: center;
}

.container-form-dangki
{
    text-align: center;
    /* display: flex; */
}

.group-form-dangki
{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 8px; */
}

input[type=text]
{
    width: 150px;
    margin: 8px;
}

input[type=email]
{
    margin: 8px;
    width: 324px;
}

input[type=password]
{
    width: 150px;
    margin: 8px;
}

input[type=tel]
{
    margin: 8px;
    width: 324px;
}

input[type=submit]
{
    margin: 20px;
    
}